<div class="centered-div">
    <div class="text-format">
        <p>BuzzFeed Personalidado</p>
    </div>
</div>

<div class="centered-div">
    <br>
    <h2>Edite o arquivo json de dentro do projeto de acordo com o template</h2>
    <h2>Após isso, reinicie o projeto e comece a responde os questionario!</h2>
    <br>
    <img src="../../../assets/imgs/files.png" height="180px" alt="Foto das pastas">
</div>

<div class="centered-div">
    <button class="btn-option" [routerLink]="['quiz']">
        Começar!
    </button>
</div>