body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.centered-div {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-format > p {
    font-size: xxx-large;
}

.btn-option{
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #18ab29;
    width: 50%;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
  }
  
  .btn-option:hover{
    background-color: #5cbf2a;
  }
  
  .btn-option:active{
    position: relative;
    top:1px;
  }